# Setup local development environment
export EXPOSE_NOTEBOOK_PORT=8080
export EXPOSE_POSTGRES_PORT=54321

export PGHOST=postgres
export PGUSER=notebook
export PGPASSWORD=notebook_secret
export PGDATABASE=dsnb
