[DEFAULT]
cybozulive_oauth=https://api.cybozulive.com/oauth
twitter_oauth=https://api.twitter.com/oauth

[cybozulive]
consumer_key=ANONYMOUS
consumer_secret=ANONYMOUS
oauth_step1=%(cybozulive_oauth)s/initiate
oauth_step2=%(cybozulive_oauth)s/authorize
oauth_step3=%(cybozulive_oauth)s/token

[twitter]
consumer_key=ANONYMOUS
consumer_secret=ANONYMOUS
oauth_step1=%(twitter_oauth)s/request_token
oauth_step2=%(twitter_oauth)s/authorize
oauth_step3=%(twitter_oauth)s/access_token
