UseDNS no
Port 22
Protocol 2
SyslogFacility AUTHPRIV

HostKey /etc/ssh/ssh_host_rsa_key
PubkeyAuthentication yes
AuthorizedKeysFile      .ssh/authorized_keys
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
PermitRootLogin without-password
UsePAM no
Subsystem       sftp    /usr/lib/openssh/sftp-server

