<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body">
        <p>
          日本の地域メッシュの境界線を地図上に表示します。
          地図をクリックすると、その地点のメッシュ番号が表示されます。
          緯度経度は直接入力することもできます。
        </p>
        <p>地域メッシュ統計に関しては総務省統計局の資料を参照してください。
        <ul>
          <li>
            <a href="http://www.stat.go.jp/data/mesh/">
              地域メッシュ統計
            </a>
          </li>
          <li>
            <a href="http://www.stat.go.jp/data/mesh/pdf/gaiyo1.pdf">
              地域メッシュ統計の特質・沿革（PDF：1460KB） - 総務省統計局
            </a>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
