<p><input name="q" class="span12" placeholder="Paste URL here . . ."></p>
<p>
    <label class="checkbox inline">
        <input type="checkbox" name="allow-empty" value="allowEmpty"> Allow Empty Value
    </label>
    <button type="submit" class="btn btn-primary offset9">Parse</button>
</p>
<div class="row alert alert-error hide">
    <button type="button" class="pull-right"><i class="icon-remove"></i></button>
    <p></p>
</div>
<hr>

