<div class="container">
    <button id="view-json" class="btn">JSON</button>
    <button id="view-url" class="btn">URL</button>
    <button id="view-curl" class="btn">cURL</button>
    <p class="pull-right">
        <button id="send-request" class="btn btn-primary">Send</button>
    </p>
</div>
