<td>
    <input name="key" value="<%- key %>" class="span2" placeholder="key">
</td>
<td>
    <input name="value" value="<%- value %>" class="span2" placeholder="value">
</td>
<td><button class="btn"><i class="icon-remove"></i></button></td>

