# {{ ansible_managed }}

[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/var/run/jupyternb.pid
ExecStart={{ jupyternb_envdir }}/bin/jupyter-notebook --config={{ jupyternb_basedir }}/jupyter_notebook_config.py
User={{ jupyternb_user }}
Group={{ jupyternb_group }}
WorkingDirectory={{ jupyternb_notebooks_dir }}
Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=multi-user.target
