{% extends "layout.html.j2" %}
{% block content %}
<div class="container">
  <form>
    <div class="form-group row">
      <label for="loopcount" class="col-sm-2 col-form-label">Count</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="loopcount" size="8" maxlength="7" placeholder="500000">
      </div>
    </div>
    <div class="form-group row">
      <label for="looptype" class="col-sm-2 col-form-label">Loop Type</label>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="looptype" id="looptypeNaive" value="naive" checked>
          <label class="form-check-label" for="looptypeNaive">Naive</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="looptype" id="looptypeDD" value="dd">
          <label class="form-check-label" for="looptypeDD">Duff's Device</label>
        </div>
      </div>
	  </div>
    <div class="form-group row">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <hr>
  <div class="row" id="results"></div>
</div>
{% endblock %}
