table {border-collapse:collapse;margin:auto;}
th {text-align:center; border:solid 1px #000000; padding:5px;}
td {text-align:left; border:solid 1px #000000; padding:5px;}
pre {padding:10px; border:solid 1px #333333;}
p {text-align:left; margin:10px 5px; line-height:1.5em;}
pre.python {background-color:#BFBFBF;}
#wrapper {width:800px; text-align:center; margin:auto;}
#contents {text-align:left;}
#header {clear:both; border-bottom:solid 1px #333333;}
#footer {clear:both; border-top:solid 1px #333333;}

